kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ name }}
  labels:
    {{ key }} : {{ value }}
    {{ key }} : {{ value }}
data: 
  {{ key }} : {{ value }}
  {{ key }} : {{ value }}
  {{ file }}: |-
    {{ key }} : {{ value }}
    {{ key }} : {{ value }}
    {{ key }} : {{ value }}
    {{ key }} : {{ value }}
    {{ key }} : {{ value }}
    {{ key }} : {{ value }}

